.cards {
    padding: 40px 0px 0px 15px; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
}
     
     
.card {    
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
}