
.container{
    width: 50%;
    height: 100px;
    background: white;
    display:flex;
}
.container > div {
  flex: 1;
}


.left {
  height: 100px;   
  width: 40%;
  flex: 0 0 50%;  
  border: 1px solid grey;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 5px 10px #888888;
  cursor: pointer;
}

.right {
  flex: 1;
  height: 100px;   
  width: 40%;
  border: 1px solid grey;
  padding: 10px;  
  margin: 5px;
  border-radius: 10px;
  box-shadow: 5px 10px #888888;
  cursor: pointer;
}

.container-body{
  display: flex;
}

.time-left{
  margin: 10px;
}